extends ../../_src/_pug/_extend_html5

//- layout 에서 선언한 공통적인 title 값이 맨뒤에 들어 감.
block title
	title #{metaTitle_main} #{title}
	//- 뎁스별로 경로 바꿀때
	- var url_css_0 = url_css_2;
	- var url_js_0 = url_js_2;
	- var url_img_common_0 = url_img_common_2;

block keywords&description
	meta(name="keywords" content=`${metaKeywords_main}`)
	meta(name="description" content=`${metaDescription_main}`)

block property
	meta(property="og:title" content=`${ogTitle_main}`)
	meta(property="og:url" content=`${ogUrl_main}`)
	meta(property="og:image" content=`${ogImage_main}`)
	meta(property="og:description" content=`${ogDescription_main}`)

append css

block vars
	- var bodyClass = 'ui_dep2'
	- var wrapClass = ''

block contents
	#container
		#content(role='main')
			// 2dep 탭 영역
			.dep2-wrap
				label(for="dep2")
				select(name="dep2" id="dep2")
					option(selected="selected") 개인 P.T
					option 키즈복싱
					option 정통복싱
					option 다이어트 복싱

			// full 영역일 경우
			.cont
				// full bg 영역
				.program-wrap
					//비디오 영역
					.program-video-bg
						.program-video-wrap
							.video-box
								<iframe class="video" width="320" height="180" src="https://www.youtube.com/embed/VUigoI2lh4w?autoplay=1" frameborder="0" allowfullscreen></iframe>


					// 텍스트 영역
					.program-txt-wrap
						// 타이틀
						p.program-tit 개인 P.T 프로그램
						// 이미지
						img(src="../../images/pc/img_pro03.jpg", alt="개인 P.T 프로그램").img-pc
						// 컨텐츠 텍스트
						.program-txt-cont.clfix
							.l-wrap
								p.sub-tit 최상의 효과,<br>프라이빗 맞춤 트레이닝
							.r-wrap
								span.txt 특정 운동목적(웨딩, 방송, 시합준비, 사진촬영, 복싱심화, 속성다이어트,체형관리 등)을 위해 운동을 희망하시는 분이라면 1:1 맞춤형 개인PT를 추천합니다. 나에게 맞는 트레이닝 프로그램 설계를 통해 운동의 시작과 마지막까지 전문 트레이너가 함께하며 매시간 연구하고 고민하며 나의 운동목적을 달성하기 위하여 분주히 움직입니다. SM복싱클럽의 맞춤 트레이닝은 실패하지 않습니다.
								em.etc-txt - 남녀노소 누구나 수련 가능 (8세부터)

							




append script
	script.