extends ../../_src/_pug/_extend_html5

//- layout 에서 선언한 공통적인 title 값이 맨뒤에 들어 감.
block title
	title #{metaTitle_main} #{title}
	//- 뎁스별로 경로 바꿀때
	- var url_css_0 = url_css_2;
	- var url_js_0 = url_js_2;
	- var url_img_common_0 = url_img_common_2;

block keywords&description
	meta(name="keywords" content=`${metaKeywords_main}`)
	meta(name="description" content=`${metaDescription_main}`)

block property
	meta(property="og:title" content=`${ogTitle_main}`)
	meta(property="og:url" content=`${ogUrl_main}`)
	meta(property="og:image" content=`${ogImage_main}`)
	meta(property="og:description" content=`${ogDescription_main}`)

append css

block vars
	- var bodyClass = 'ui_dep2'
	- var wrapClass = ''

block contents
	#container
		#content(role='main')
			// 2dep 탭 영역
			.dep2-wrap
				label(for="dep2")
				select(name="dep2" id="dep2")
					option(selected="selected" value="../community/news.html") 체육관 뉴스
					option(value="../community/faq.html") 자주 묻는 질문
					option(value="../community/contact.html") 제휴 문의	
			.cont
				.community-wrap
					.community-cont
						p.tit News
						
						.view-wrap
							.view-tit-wrap.clfix
								span.view-tit SM복싱클럽 사이트 신규 오픈
								.view-tit-info
									span.day 19.12.34
									span.view-txt 100

							.view-cont
								p SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈SM복싱클럽 사이트 신규 오픈
							


				.btn-wrap
					a(href="#").btn-list
						span 목록으로




append script
	script.