extends ../../_src/_pug/_extend_html5

//- layout 에서 선언한 공통적인 title 값이 맨뒤에 들어 감.
block title
	title #{metaTitle_main} #{title}
	//- 뎁스별로 경로 바꿀때
	- var url_css_0 = url_css_2;
	- var url_js_0 = url_js_2;
	- var url_img_common_0 = url_img_common_2;

block keywords&description
	meta(name="keywords" content=`${metaKeywords_main}`)
	meta(name="description" content=`${metaDescription_main}`)

block property
	meta(property="og:title" content=`${ogTitle_main}`)
	meta(property="og:url" content=`${ogUrl_main}`)
	meta(property="og:image" content=`${ogImage_main}`)
	meta(property="og:description" content=`${ogDescription_main}`)

append css

block vars
	- var bodyClass = 'ui_dep2 ui_tab'
	- var wrapClass = ''

block contents
	#container
		#content(role='main')
			// 2dep 탭 영역
			.dep2-wrap
				label(for="dep2")
				select(name="dep2" id="dep2")
					option(selected="selected" value="../findGym/incheon.html") 인천
					option(value="../findGym/seoul.html") 서울
			.cont
				.find-gym-cont
					.tab-wrap
						ul.tab-list.tab05.clfix
							li.on
								a(href="#")
									span 4관
							li
								a(href="#")
									span 5관
							li
								a(href="#")
									span 6관
							li
								a(href="#")
									span 7관
							li
								a(href="#")
									span 8관
					
					.map-cont.on
						#map4
					.map-cont
						#map5
					.map-cont
						#map6
					.map-cont
						#map7
					.map-cont
						#map8


					// 4관
					.tab-cont.on
						.gym-map-wrap
							// 지도 영역
							//- #map4.map-cont

							.map-txt-wrap
								.map-tit-wrap
									span.bold 4관.
									em 인천광역시 미추홀구 석정로 303 삼덕상가
									.sns-wrap
										a(href="https://www.instagram.com/IksungSo/").btn-sns.instagram
											span.hide-txt 인스타그램
										a(href="https://www.facebook.com/smboxing5/").btn-sns.facebook
											span.hide-txt 페이스북
									
								.map-info
									ul.map-info-txt-wrap
										li 문의하기.
											span 032 - 866 - 7920
										li 카카오톡 ID. 
											span sis046
									.map-btn-wrap
										a(href="https://map.naver.com/local/siteview.nhn?code=21355718").btn.naver
											span 네이버 검색
										a(href="https://cafe.naver.com/smboxingclub").btn.cafe
											span 네이버 카페
										a(href="https://blog.naver.com/sojjangsama").btn.blog
											span 네이버 블로그

						//- .gym-photo-wrap
							//- p.tit 시설 미리보기
							//- .gym-img-slider-wrap
								//- .slider-main.ui-slider-for
								//- 	img(src="../../images/pc/view_img_10_01.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_02.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_03.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_04.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_05.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_06.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_07.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_08.jpg", alt="")
								//- .slider-nav.ui-slider-nav
								//- 	img(src="../../images/pc/view_img_10_01.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_02.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_03.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_04.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_05.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_06.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_07.jpg", alt="")
								//- 	img(src="../../images/pc/view_img_10_08.jpg", alt="")
					
					// 5관
					.tab-cont
						.gym-map-wrap
							// 지도 영역
							//- #map5.map-cont

							.map-txt-wrap
								.map-tit-wrap
									span.bold 5관.
									em 인천광역시 남동구 경인로 644번길 세아빌딩
									.sns-wrap
										a(href="https://www.instagram.com/IksungSo/").btn-sns.instagram
											span.hide-txt 인스타그램
										a(href="https://www.facebook.com/smboxing5/").btn-sns.facebook
											span.hide-txt 페이스북
									
								.map-info
									ul.map-info-txt-wrap
										li 문의하기.
											span 032 - 428 - 7920
										li 카카오톡 ID. 
											span sis046
									.map-btn-wrap
										a(href="https://map.naver.com/local/siteview.nhn?code=33238177").btn.naver
											span 네이버 검색
										a(href="https://cafe.naver.com/smboxingclub").btn.cafe
											span 네이버 카페
										a(href="https://blog.naver.com/sojjangsama").btn.blog
											span 네이버 블로그

						.gym-photo-wrap
							p.tit 시설 미리보기
							.gym-img-slider-wrap
								.slider-main.ui-slider-for
									img(src="../../images/pc/view_img_05_01.jpg", alt="")
									img(src="../../images/pc/view_img_05_02.jpg", alt="")
									img(src="../../images/pc/view_img_05_03.jpg", alt="")
									img(src="../../images/pc/view_img_05_04.jpg", alt="")
									img(src="../../images/pc/view_img_05_05.jpg", alt="")
									img(src="../../images/pc/view_img_05_06.jpg", alt="")
								.slider-nav.ui-slider-nav
									img(src="../../images/pc/view_img_05_01.jpg", alt="")
									img(src="../../images/pc/view_img_05_02.jpg", alt="")
									img(src="../../images/pc/view_img_05_03.jpg", alt="")
									img(src="../../images/pc/view_img_05_04.jpg", alt="")
									img(src="../../images/pc/view_img_05_05.jpg", alt="")
									img(src="../../images/pc/view_img_05_06.jpg", alt="")
					
					// 6관
					.tab-cont
						.gym-map-wrap
							// 지도 영역
							//- #map6.map-cont

							.map-txt-wrap
								.map-tit-wrap
									span.bold 6관.
									em 인천광역시 부평구 원적로 432번길 20
									.sns-wrap
										a(href="https://www.youtube.com/channel/UCnZ5L6n8OU_ZSm9NlqLcEkw").btn-sns.youtube
											span.hide-txt 유튜브
								.map-info
									ul.map-info-txt-wrap
										li 문의하기.
											span 032 - 521 - 2244
										li 카카오톡 ID. 
											span touch123
									.map-btn-wrap
										a(href="https://map.naver.com/local/siteview.nhn?code=35408078").btn.naver
											span 네이버 검색
										a(href="https://cafe.naver.com/smboxingclub").btn.cafe
											span 네이버 카페
										a(href="https://blog.naver.com/zachun1022").btn.blog
											span 네이버 블로그
						.gym-photo-wrap
							p.tit 시설 미리보기
							.gym-img-slider-wrap
								.slider-main.ui-slider-for
									img(src="../../images/pc/view_img_06_01.jpg", alt="")
									img(src="../../images/pc/view_img_06_02.jpg", alt="")
									img(src="../../images/pc/view_img_06_03.jpg", alt="")
									img(src="../../images/pc/view_img_06_04.jpg", alt="")
									img(src="../../images/pc/view_img_06_05.jpg", alt="")
									img(src="../../images/pc/view_img_06_06.jpg", alt="")
								.slider-nav.ui-slider-nav
									img(src="../../images/pc/view_img_06_01.jpg", alt="")
									img(src="../../images/pc/view_img_06_02.jpg", alt="")
									img(src="../../images/pc/view_img_06_03.jpg", alt="")
									img(src="../../images/pc/view_img_06_04.jpg", alt="")
									img(src="../../images/pc/view_img_06_05.jpg", alt="")
									img(src="../../images/pc/view_img_06_06.jpg", alt="")
					
					// 7관
					.tab-cont
						.gym-map-wrap
							// 지도 영역
							//- #map7.map-cont

							.map-txt-wrap
								.map-tit-wrap
									span.bold 7관.
									em 인천광역시 남동구 구월로 338 성호빌딩
									.sns-wrap
										a(href="https://www.facebook.com/SMBOXINGMANSU/").btn-sns.facebook
											span.hide-txt 페이스북
								.map-info
									ul.map-info-txt-wrap
										li 문의하기.
											span 032 - 472 - 1995 
										li 카카오톡 ID. 
											span psalms121
									.map-btn-wrap
										a(href="https://map.naver.com/local/siteview.nhn?code=34944641").btn.naver
											span 네이버 검색
										a(href="https://cafe.naver.com/smboxingclub").btn.cafe
											span 네이버 카페
										a(href="https://blog.naver.com/kazua21").btn.blog
											span 네이버 블로그
						.gym-photo-wrap
							p.tit 시설 미리보기
							.gym-img-slider-wrap
								.slider-main.ui-slider-for
									img(src="../../images/pc/view_img_07_01.jpg", alt="")
									img(src="../../images/pc/view_img_07_02.jpg", alt="")
									img(src="../../images/pc/view_img_07_03.jpg", alt="")
									img(src="../../images/pc/view_img_07_04.jpg", alt="")
									img(src="../../images/pc/view_img_07_05.jpg", alt="")
									img(src="../../images/pc/view_img_07_06.jpg", alt="")
									img(src="../../images/pc/view_img_07_07.jpg", alt="")
									img(src="../../images/pc/view_img_07_08.jpg", alt="")
								.slider-nav.ui-slider-nav
									img(src="../../images/pc/view_img_07_01.jpg", alt="")
									img(src="../../images/pc/view_img_07_02.jpg", alt="")
									img(src="../../images/pc/view_img_07_03.jpg", alt="")
									img(src="../../images/pc/view_img_07_04.jpg", alt="")
									img(src="../../images/pc/view_img_07_05.jpg", alt="")
									img(src="../../images/pc/view_img_07_06.jpg", alt="")
									img(src="../../images/pc/view_img_07_07.jpg", alt="")
									img(src="../../images/pc/view_img_07_08.jpg", alt="")
				
					// 8관
					.tab-cont
						.gym-map-wrap
							// 지도 영역
							//- #map8.map-cont

							.map-txt-wrap
								.map-tit-wrap
									span.bold 8관.
									em 인천광역시 남동구 장승남로 40 한별프라자 203, 204호
								.map-info
									ul.map-info-txt-wrap
										li 문의하기.
											span 032 - 465 - 2705
										li 카카오톡 ID. 
											span psalms121
									.map-btn-wrap
										a(href="https://map.naver.com/local/siteview.nhn?code=919796882").btn.naver
											span 네이버 검색
										a(href="https://cafe.naver.com/smboxingclub").btn.cafe
											span 네이버 카페
										a(href="https://blog.naver.com/kazua21").btn.blog
											span 네이버 블로그
						.gym-photo-wrap
							p.tit 시설 미리보기
							.gym-img-slider-wrap
								.slider-main.ui-slider-for
									img(src="../../images/pc/view_img_08_01.jpg", alt="")
									img(src="../../images/pc/view_img_08_02.jpg", alt="")
									img(src="../../images/pc/view_img_08_03.jpg", alt="")
									img(src="../../images/pc/view_img_08_04.jpg", alt="")
									img(src="../../images/pc/view_img_08_05.jpg", alt="")
									img(src="../../images/pc/view_img_08_06.jpg", alt="")
									img(src="../../images/pc/view_img_08_07.jpg", alt="")
									img(src="../../images/pc/view_img_08_08.jpg", alt="")
								.slider-nav.ui-slider-nav
									img(src="../../images/pc/view_img_08_01.jpg", alt="")
									img(src="../../images/pc/view_img_08_02.jpg", alt="")
									img(src="../../images/pc/view_img_08_03.jpg", alt="")
									img(src="../../images/pc/view_img_08_04.jpg", alt="")
									img(src="../../images/pc/view_img_08_05.jpg", alt="")
									img(src="../../images/pc/view_img_08_06.jpg", alt="")
									img(src="../../images/pc/view_img_08_07.jpg", alt="")
									img(src="../../images/pc/view_img_08_08.jpg", alt="")

append script
	script(src=`//dapi.kakao.com/v2/maps/sdk.js?appkey=cbf134aa1e5c01a91daa6d20263cb77f`, type='text/javascript', charset='utf-8')
	script.

		$(document).ready(function(){
			 $('.ui-slider-for').slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows: false,
				fade: true,
				asNavFor: '.ui-slider-nav'
			});
			$('.ui-slider-nav').slick({
				slidesToShow: 4,
				slidesToScroll: 1,
				asNavFor: '.ui-slider-for',
				focusOnSelect: true,
				responsive:[
					{
						breakpoint: 1024,
						settings: {
							arrows: true,
							slidesToShow: 2
						}
					}
				]
			});		

			// 인천 지도
			// 4관
			var container4 = document.getElementById('map4');
			var options4 = {
				center: new kakao.maps.LatLng(37.46816303502205, 126.66930393328019),
				level: 3
			};
			
			// 5관
			var container5 = document.getElementById('map5');
			var options5 = {
				center: new kakao.maps.LatLng(37.46726100579576, 126.70862316597363),
				level: 3
			};

			// 6관
			var container6 = document.getElementById('map6');
			var options6 = {
				center: new kakao.maps.LatLng(37.502571824190426, 126.71395518211769),
				level: 3
			};

			// 7관
			var container7 = document.getElementById('map7');
			var options7 = {
				center: new kakao.maps.LatLng(37.4550396493689, 126.7282594765901),
				level: 3
			};

			// 8관
			var container8 = document.getElementById('map8');
			var options8 = {
				center: new kakao.maps.LatLng(37.44315800775223, 126.73661500333887),
				level: 3
			};

			var map4 = new kakao.maps.Map(container4, options4);
			var map5 = new kakao.maps.Map(container5, options5);
			var map6 = new kakao.maps.Map(container6, options6);
			var map7 = new kakao.maps.Map(container7, options7);
			var map8 = new kakao.maps.Map(container8, options8);

			// 마커가 표시될 위치입니다 
			var markerPosition4  = new kakao.maps.LatLng(37.46816303502205, 126.66930393328019); 
			var markerPosition5  = new kakao.maps.LatLng(37.46726100579576, 126.70862316597363); 
			var markerPosition6  = new kakao.maps.LatLng(37.502571824190426, 126.71395518211769); 
			var markerPosition7  = new kakao.maps.LatLng(37.4550396493689, 126.7282594765901); 
			var markerPosition8  = new kakao.maps.LatLng(37.44315800775223, 126.73661500333887);


			// 마커를 생성합니다
			var marker4 = new kakao.maps.Marker({
					position: markerPosition4
			});
			var marker5 = new kakao.maps.Marker({
					position: markerPosition5
			});
			var marker6 = new kakao.maps.Marker({
					position: markerPosition6
			});
			var marker7 = new kakao.maps.Marker({
					position: markerPosition7
			});
			var marker8 = new kakao.maps.Marker({
					position: markerPosition8
			});

			// 마커가 지도 위에 표시되도록 설정합니다
			marker4.setMap(map4);
			marker5.setMap(map5);
			marker6.setMap(map6);
			marker7.setMap(map7);
			marker8.setMap(map8);
	
			
				
		});
