extends ../../_src/_pug/_extend_html5

//- layout 에서 선언한 공통적인 title 값이 맨뒤에 들어 감.
block title
	title #{metaTitle_main} #{title}
	//- 뎁스별로 경로 바꿀때
	- var url_css_0 = url_css_2;
	- var url_js_0 = url_js_2;
	- var url_img_common_0 = url_img_common_2;

block keywords&description
	meta(name="keywords" content=`${metaKeywords_main}`)
	meta(name="description" content=`${metaDescription_main}`)

block property
	meta(property="og:title" content=`${ogTitle_main}`)
	meta(property="og:url" content=`${ogUrl_main}`)
	meta(property="og:image" content=`${ogImage_main}`)
	meta(property="og:description" content=`${ogDescription_main}`)

append css
//- 	style.
//- 		html{font-size:24px;}
//- 		.aaa div{font-size:1.8rem;}
//- 		.bbb div{font-size:12px}
//- 		.ccc div{font-size:1.2em}
//- layout 에서 정의한 변수를 아래와 같이 페이지 별로 사용 가능.
//- var bodyClass = 'index_page_body'
//- var wrapClass = 'index_page_wrap'
block vars
	- var bodyClass = 'main'
	- var wrapClass = ''

block contents
	#container
		#content(role='main')
			.main-wrap
				.main-visual-wrap
					.visual-list.ui-slider-main
						.visual-bx01.etc
							.txt-bx.clfix
								.left-txt
									span 운동으로<br class="mo"> 감동을 전하다
								.right-txt.etc
									p.tit SM<br>BOXING<br>CLUB
									em.txt 전국 10개관  /  전관 이용 가능  /   No1. 복싱브랜드
						.visual-bx02
							.txt-bx.clfix
								.left-txt
									span 정통 복싱의 명가
								.right-txt
									p.tit SM<br>BOXING CLUB
									em.txt 프로 / 아마튜어(엘리트) 선수 양성
									.btn-wrap
										a(href="#").btn-list
											span 자세히 보기
						.visual-bx03
							.txt-bx.clfix
								.left-txt
									span 누구나 쉽고 재미있게<br>새로운 삶의 변화  
								.right-txt
									p.tit.mt-line SM<br>BOXING CLUB
									em.txt 정통복싱 / 다이어트 복싱 / 개인PT /<br>그룹PT 등 맞춤형 프로그램
									.btn-wrap
										a(href="#").btn-list
											span 자세히 보기
						.visual-bx04
							.txt-bx.clfix
								.left-txt
									span 건강한 육체에 건전한 정신
								.right-txt
									p.tit Kid’s<br>BOXING
									em.txt 자존감 증진 / 키성장 프로그램 /<br>학교폭력 예방
									.btn-wrap
										a(href="#").btn-list
											span 자세히 보기
						.visual-bx05.kor
							.txt-bx.clfix
								.left-txt
									span 우리를 위한 나를 만들다
								.right-txt.kor
									p.tit 스포츠<br>인재양성소
									em.txt 스포츠 지도자 교육 / 취업 지원 / <br>창업 지원
									.btn-wrap
										a(href="#").btn-list
											span 자세히 보기
				// Video
				.main-cont.video
					.main-cont-inner
						h2 Video
						.video-box
							<iframe class="video" width="320" height="180" src="https://www.youtube.com/embed/VUigoI2lh4w?autoplay=1" frameborder="0" allowfullscreen></iframe>

				// PROGRAM
				.main-cont.program
					.main-cont-inner
						h2 SM BOXING<br>PROGRAM
						.red-box
							p.box-tit 맞춤형 개인 트레이닝<br>복싱을 통한 체형관리
							span.box-txt 정통복싱/다이어트복싱/키즈복싱/개인PT/그룹PT 등<br>맞춤형 프로그램 설계로 운동목적을 실패없이 달성합니다.
							.btn-wrap
								a(href="#").btn-list
									span.txt 자세히 보기


				// Profile
				.main-cont
					.box-team-wrap
						.box-team-inner
							.box-team-tit-wrap
								p.tit SM 복싱 선수단
							.box-team-slider
								.box-team-slider-main.ui-slider-for
									.slider-box01
										p.box-tit 박지현 코치
										.box-record
											dl.record-list
												dt 전적 : 27전 24승(6KO) 3패
												dd (현) WBF 스트로급 세계 챔피언
												dd (현) WIBF 스트로급 세계 챔피언
												dd (현) WIBA 스트로급 세계 챔피언
												dd (현) IFBA 스트로급 세계 챔피언
										.bx-motto
											span.tit 좌우명.
											p.txt 꿈꿀 수 있는 자,<br>그 꿈을<br>이룰 수도 있다.									
									.slider-box02
										p.box-tit 설민석 선수
										.box-record
											dl.record-list
												dt 전적 : 3전 2승 1패
												dd 설민석(sm복싱) vs 서정원(전진만) 4R 판정승
												dd 설민석(sm복싱) vs 박건호(스피드) 4R 판정패
												dd 설민석(sm복싱) vs 양준모(대한권투) 4R 판정승								
									.slider-box03
										p.box-tit 유주안 선수
										.box-record
											dl.record-list
												dt 전적 : 4전 2승(1KO) 2패
												dd 유주안(sm복싱) vs 한윤태(대한) 4R 판정패
												dd 유주안(sm복싱) vs 조종율(통진BMP) 1R KO승
												dd 유주안(sm복싱) vs 전규범(브리드) 4R 판정패
												dd 유주안(sm복싱) vs 윤원형(천안Beat) 4R 판정승								
									.slider-box04
										p.box-tit 정태원 선수
										.box-record
											dl.record-list
												dt 전적 : 4전 3승(1KO) 1패
												dd 2017년도 KBF(한국권투연맹) 슈퍼페더급 신인왕
												dd 정태원(sm복싱) vs 최성용(이철형체) 4R 판정승
												dd 정태원(sm복싱) vs 이대영(인천연수) 4R 판정승
												dd 정태원(sm복싱) vs 문국민(더원복싱) 3R KO승
												dd 정태원(sm복싱) vs 김무현(더원복싱) 2R KO패								
									.slider-box05
										p.box-tit 양초록 선수
										.box-record
											dl.record-list
												dt 전적 : 7전 3승(2KO) 3패 1무
												dd 양초록(sm복싱) vs 채시원(평촌권투) 2R KO승
												dd 양초록(sm복싱) vs 손정환(몬스터) 3R KO승
												dd 양초록(sm복싱) vs 박준석(영복싱) 4R 판정패
												dd 양초록(sm복싱) vs 이흑산(천안헐크) 4R 판정패
												dd 양초록(sm복싱) vs 홍영우(구미거북) 4R 판정승								
									.slider-box06
										p.box-tit 홍예준 선수
										.box-record
											dl.record-list
												dt 2019년 전국체전 서울시 대표 선수 (-81kg 일반)
												dd 2018년 서울신인 선수권 대회 3위 -91kg
												dd 2018년 전국 회장배 복싱대회 고등부 -81kg 8강
												dd 2019년 전국 협회장배 복싱대회 대학부 -81kg 8강
												dd 2019년 제100회 전국체전 서울대표 선발전 -81kg 1위
									.slider-box07
										p.box-tit 김의영 선수
										.box-record
											dl.record-list
												dt 2019년 전국 협회장배 복싱대회 +91kg<br>일반부 3위

								.box-team-slider-nav.ui-slider-nav
									.team-thum01
										span.hide-txt 박지현 코치
									.team-thum02
										span.hide-txt 설민석 선수
									.team-thum03
										span.hide-txt 유주안 선수
									.team-thum04
										span.hide-txt 정태원 선수
									.team-thum05
										span.hide-txt 양초록 선수
									.team-thum06
										span.hide-txt 홍예준 선수
									.team-thum07
										span.hide-txt 김의영 선수

				// etc
				.main-cont.etc
					.main-cont-inner
						p.txt1 스포츠 지도자 교육<br class="mo">/ 취업 지원 / 창업 지원
						p.txt2 우리를 위한 나를 만들다		
							em 스포츠 인재 양성소
						.btn-wrap
							a(href="#").btn-list
								span.txt 자세히 보기

append script
	script.
		$(document).ready(function(){
			 $('.ui-slider-for').slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows: false,
				fade: true,
				setPosition : true,
				asNavFor: '.ui-slider-nav'
			});
			$('.ui-slider-nav').slick({
				slidesToShow: 3,				
				slidesToScroll: 1,
				asNavFor: '.ui-slider-for',
				setPosition : true,
				focusOnSelect: true,
				responsive:[
					{
						breakpoint: 1024,
						settings: {
							arrows: false,
							slidesToShow: 1
						}
					}
				]
			});
			
			$('.ui-slider-main').slick({
				arrows: false,
				dots: true,
				infinite: true,
				speed: 500,
				fade: true,
				cssEase: 'linear'
			});		
		});